*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.elf
*.hex
*.map
html/
**/nbproject/private/
**/nbproject/Package-*.bash
**/build/
**/dist/
**/debug/
**/nbbuild/
**/nbdist/
**/nbactions.xml
**/nb-configuration.xml
**/funclist
**/nbproject/Makefile-*
**/disassembly/
*.r51
